<div class="form-container">
  <h2>You're one step away from becoming a member.</h2>
  <form action="/user/activate-membership" method="post">
    <div class="form-group">
      <label for="username">Enter Invite Code:</label>
      <input type="password" id="invite-code" name="invite-code" />
    </div>
    <div id="submit-container">
      <button type="submit">Activate Membership</button>
    </div>
  </form>
</div>
