<div class="form-container">
  <h2>Membership Activation</h2>
  <form action="/user/activate-membership" method="post">
    <div class="form-group">
      <label for="username">Activation Code:</label>
      <input type="password" id="code" name="code" />
    </div>
    <div id="submit-container">
      <button type="submit">Activate Membership</button>
    </div>
  </form>
</div>
