<div class="banner">
  <p class="copy-text">Want to join the club?</p>
  <p class="copy-text">Become a member to reveal who is posting.</p>
  <a href="/user/activate-membership">
    <button>Redeem Invite Code</button>
  </a>
</div>
