<div class="feed-container">
  <% if(currentUser) { %>
  <a href="/message">
    <button class="post-message-button">Post a Message</button>
  </a>
  <% } %> <% if (messages) { %> <% messages.forEach((message) => { %>
  <div class="card">
    <% if(currentUser && currentUser.isAdmin) { %>
    <div class="kill-box">X</div>
    <% } %>
    <p>Posted by <%= `${message.user.firstName} ${message.user.lastName}` %></p>
    <p>Date: <%= message.timestamp.toLocaleString() %></p>
    <p>Subject: <%= message.title %></p>
    <p>Text: <%= message.text %></p>
  </div>
  <% }) %> <% } %>
</div>
