<header>
  <div class="header-container">
    <a href="/">
      <h1>Members Only</h1>
    </a>
    <div class="button-container">
      <% if (!currentUser) { %>
      <a href="/user/login">
        <button class="login-button">Log In</button>
      </a>
      <a href="/user/register">
        <button class="sign-up-button">Register</button>
      </a>
      <% } else { %>
      <form id="logout-form" action="/user/logout" method="post">
        <button class="logout-button">Log Out</button>
      </form>
      <% } %>
    </div>
  </div>
</header>
