<header>
  <div class="header-container">
    <a href="/">
      <h1>Members Only</h1>
    </a>
    <div class="button-container">
      <a href="/login">
        <button class="login-button">Log In</button>
      </a>
      <a href="/sign-up">
        <button class="sign-up-button">Sign Up</button>
      </a>
    </div>
  </div>
</header>
