<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title || '' %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
  </head>
  <div class="wrapper">
    <%- include('../partials/header.ejs') %>
    <body>
      <div class="body-wrapper">
        <main><%- body%></main>
      </div>
    </body>
    <% if (currentUser) { %> <%- include('../partials/footer.ejs') %> <% } %>
  </div>
</html>
