<!DOCTYPE html>
<html>
  <head>
    <title><%= title || '' %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- <%- include('./partials/signup-form.ejs') %> <% if (locals.errors) { %> -->
    <h1>Posts</h1>
    <ul>
      <% for (let error of locals.errors) { %>
      <li><%= error.msg %></li>
      <% } %>
    </ul>
    <% } %>
  </body>
</html>
