<!DOCTYPE html>
<html>
  <head>
    <title><%= title ? title : ''%></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h2 style="color: azure">
      <%= currentUser ? currentUser.fullName : 'No current user' %>
    </h2>
  </body>
</html>
