:root {
  --midnight-blue: #04082e;
  --midnight-blue-lighter: #001f5b;
  --dark-purple-blue: #30055c;
  --light-purple-blue: #48217f;
  --gold: #d4af37;
  --purple: #6a0572;
  --subtle-gray: #f5f5f5;
  --warm-gray: #9e9e9e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--subtle-gray);
}

.wrapper {
  background: linear-gradient(
    var(--midnight-blue) 0%,
    var(--midnight-blue-lighter) 70%
  );
  min-height: 100vh;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container > a {
  text-decoration: none;
}

.header-container h1 {
  color: var(--gold);
  font-family: "Lora", serif;
  font-weight: 600;
}

.header-container h1:hover {
  cursor: pointer;
}

button,
#submit-container button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1.25rem;
  background-color: var(--purple);
  color: var(--gold);
}

button:hover,
#submit-container button:hover {
  cursor: pointer;
  background-color: var(--gold);
  color: var(--purple);
}

.button-container {
  display: flex;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  border: 1px solid var(--warm-gray);
  background-color: var(--subtle-gray);
  color: black;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

.form-container * {
  color: inherit;
}

.form-group {
  display: flex;
}

.form-group > input {
  background-color: var(--subtle-gray);
}

#submit-container {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  margin: 0;
  font-size: 1.25rem;
  border-radius: 4px;
}

.banner {
  color: var(--subtle-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to bottom,
    var(--light-purple-blue) 10%,
    var(--dark-purple-blue) 80%
  );
  color: var(--subtle-gray);
}

.feed-container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .feed-container button {
  background-color: var(--gold);
  color: var(--purple);
}

.feed-container button:hover {
  color: var(--gold);
  background-color: var(--purple);
} */

#message-form textarea {
  resize: none;
  height: 25ch;
}

@media screen and (min-width: 300px) {
  .body-wrapper {
    margin-top: 0.5rem;
  }

  .header-container {
    flex-direction: column;
    padding: 0.5rem 0;
  }

  .header-container h1 {
    font-size: 1.75rem;
    margin-bottom: 0.25rem;
  }

  button {
    font-size: 1rem;
  }

  .button-container button {
    margin: 0 0.25rem;
  }

  .form-container {
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 100vw;
    margin: 5%;
  }

  .form-container > h2 {
    margin-bottom: 1rem;
    text-align: center;
  }

  .form-group {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.25rem;
    font-size: 1rem;
  }

  .form-group > input {
    max-width: 100%;
    padding: 0.25rem;
    font-size: 1rem;
  }

  .banner {
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 90vw;
    margin: 0 auto;
  }

  .banner .copy-text {
    font-size: 1rem;
    text-align: center;
  }

  .banner button {
    margin-top: 0.5rem;
  }

  #submit-container {
    justify-content: center;
  }

  #message-form textarea,
  #message-form input {
    width: 100%;
    font-size: 1rem;
    padding: 0.25rem;
  }

  #message-form p {
    text-align: center;
    margin-bottom: 1rem;
  }

  #invite-code {
    width: 100%;
    margin-bottom: 1rem;
  }

  .header-container h1 {
    font-size: 2rem;
  }

  .form-container {
    padding: 1.5rem;
  }

  #submit-container {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .body-wrapper {
    margin-top: 2rem;
  }

  .header-container {
    margin: 0 5%;
    padding: 0.5rem 5%;
    flex-direction: row;
  }

  .header-container h1 {
    font-size: 2.25rem;
    margin-bottom: 0;
  }

  button {
    font-size: 1.25rem;
  }

  .button-container button {
    margin: 0 1rem;
  }

  .form-container {
    margin: 0;
  }

  .form-container h2 {
    text-align: inherit;
  }

  .form-group {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    font-size: 1.25rem;
  }

  .form-group > input {
    margin-left: 40px;
  }

  .banner {
    padding: 1.5rem;
    margin: 0;
  }

  .banner .copy-text {
    text-align: inherit;
    font-size: 1.75rem;
  }

  #submit-container {
    justify-content: flex-end;
  }

  #message-form .form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  #message-form textarea,
  #message-form input {
    font-size: 1.25rem;
    margin: 0;
  }

  #invite-code {
    width: auto;
    margin-bottom: 0;
    flex: 1;
  }
}

@media screen and (min-width: 1024px) {
  .header-container {
    padding: 0.75rem 7.5%;
  }

  .header-container h1 {
    font-size: 2.5rem;
  }

  .button-container button {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    margin: 0 10%;
    padding: 0.75rem 10%;
  }
}
